<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/update/<%= itemId %>" method="POST">
      <label for="game">Name:</label>
      <input type="text" id="game" name="game" required />
      <% if (categories && categories.length > 0) { %> <%
      categories.forEach((category) => { %>
      <label>
        <input type="checkbox" name="categories" value="<%= category.id %>" />
        <%= category.genre %>
      </label>
      <% }) %> <% } else { %>
      <p>No categories available.</p>
      <% } %>
      <button type="submit">Update Game</button>
    </form>
  </body>
</html>
